/** Reset Components */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, ol, li,
article, figure, figcaption, footer, header, section, summary{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, figcaption, figure, 
footer, section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0 1rem;
}

/** Vars **/

:root{
    --brand-black: #010101;
    /* --brand-red:   #641312; */
    --brand-red:   #5B0101;
    --brand-white: #FFFFFF;
    --brand-gray-l: #F0F0F0;
    --brand-gold:  #B59E5D;
    --border-color: #2b2a2a;

    --shadow: rgba(19, 19, 19, 0.22) 0px 14px 28px, rgba(15, 15, 15, 0.22) 0px 10px 10px;

    --font-size-default: 16px;
    --font-family-default: 'Montserrat', sans-serif;
}


/** Layout */

html,body{
    box-sizing: border-box;
    height: 100%;
}

body{
    font-size: var(--font-size-default);
    line-height: 1;
    color: var(--brand-gray-l);
    font-family: var(--font-family-default);
}

blockquote cite{
    float: right;
    margin-top: 1rem;
}

.container{
    width: 80%;
    max-width: 1900px;
    margin: 0 auto;
}

.spacing{
    padding: 3rem 3rem;
}

.spacing-x{
    padding-left: 3rem;
    padding-right: 3rem;
}

.spacing-y{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.spacing-b{
    padding-bottom: 3rem;	
}

.no-spacing{
    padding: 0;
}

.text-center{
    text-align: center;
}

p{
    padding-bottom: 1.5rem;
    line-height: 1.2rem;
}

p:last-child{
    padding-bottom: 0;
}

/** Font */
.h1{
    font-size: 3rem;
}
.h2{
    font-size: 3rem;
}

.h3{
    font-size: 2.2rem;
}

.split-title .h2{
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
}

.split-title .h4{
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;
}

.title-section{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
    padding-top: 1.5em;
    line-height: 1.5;
}

/** Components */

li{
    margin-bottom: 1.5rem;
}

li::before {
    content: "⛛";
    margin-left: -21px;
    margin-right: 10px;
    opacity: .3;
    box-shadow: var(--shadow);
    color: #710000;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin:0 auto;
    object-fit: cover;
    width: 100%;
    min-width: 300px;
}

figure{
    position: relative;
    display: flex;
}

.overlay{
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .2;
}

.section-hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/ironman2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section-hero .overlay{
    opacity: .5;
}

.section-hero figure{
    position: relative;
}

.section-hero .title{
    z-index: 1;
    opacity: .8;
}

.section-hero .title span{
    color: white;
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.section-hero .title span:first-child{
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1;
}
.section-hero .title span:nth-child(2){
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 6.5rem;
}
.section-hero .title span:last-child{
    font-size: 1.8rem;
    padding-bottom: 5rem;
}
.section-resume-bio{
    background-color: var(--brand-black);
    white-space: pre-line;
}

.section-memories{
    background-color: var(--brand-black);
}

.section-bio-tony-stark{
    background-color: var(--brand-red);
    position: relative;
}

.section-bio-tony-stark::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
}

.section-bio-tony-stark .content{
    width: 100%;
}

.section-bio-iron-man{
    background-color: var(--brand-black);
    position: relative;
    z-index: -2;
    padding: 5rem 0;
}

.section-bio-iron-man .title-section{
    text-align: center;
    margin-bottom: 4rem;
}
.section-explore{
    background-color: var(--brand-black);			
}
.section-explore > .container-grid{
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-areas: "c-imgs c-title";
}

.section-explore .img-overlap{
    grid-area: c-imgs;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.img-overlap .overlay,
.img-overlap .bg-img,
.split-content > figure > img,
.gallery .picture-overlay img{
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.section-bg-divider > figure{
    box-shadow: var(--shadow);
}

.section-explore  .split-title{
   grid-area: c-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    justify-self: center;
}

.split-title span{
    display: block;
    margin-bottom: 2rem;
    text-align: center;
}

.img-overlap figure{
    display: initial;
}

.bg-img{
    height: 100%;
    min-height: 700px;
}

.img-overlap figure:first-child{
    grid-column: 1/8;
    grid-row: 1/10;
}

.img-overlap figure:first-child .bg-img{
    background-image: url(../img/ironman7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-overlap figure:last-child{
    grid-column: 4/11; 
    grid-row: 2/11;
}

.img-overlap figure:last-child .bg-img{
      background-image: url(../img/ironman3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-overlap img{
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery > figure{
    flex: 1;
    padding: 1em;
}

.gallery img {
    min-height: 400px;
}

.split-content{
    display: block
}

.split-content > .description{
    grid-area: c-text;
    padding: 1em 2em 1rem 0;
}

.split-content > figure{
    display: none;
}

.split-content > figure > img{
    min-height: 70vh;
    width: 100%;
    object-fit: cover;
    box-shadow: var(--shadow);
}

.cta-description{
    text-align: center;
}

footer{
    background-color: var(--brand-red);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(30px, 50px));
    padding-bottom: 2rem;
}

footer > div{
    position: relative;			
}

footer > .item-1{			
    background-color: var(--brand-black);
    grid-column: 1/2;
    grid-row: 1/2;
}

footer > .item-2{
    background-color: var(--brand-black);
    grid-column: 2/3;
    grid-row: 1/3;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

footer > .item-3{
    background-color: var(--brand-black);
    grid-column: 3/4;
    grid-row: 1/2;
}

footer > .item-4{
    background-color: var(--brand-red);
    grid-column: 1/2;
    grid-row: 2/3;
}

footer > .item-5{
    background-color: var(--brand-red);
    grid-column: 3/4;
    grid-row: 2/3;
}

footer .item-1::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--brand-red);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: top right;
    transform: skewY(-6deg);
}

footer .item-3::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--brand-red);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: left top;
    transform: skewY(6deg);
}

.sr-only{
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.cta-action{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: .3rem;
    font-weight: bold;
    padding-top: .5rem;
    font-size: 1.5rem;
}

.history h4{
    font-size: 19px;
}

.history > h4.border-bottom{
    display: inline;
    padding-bottom: 4px;
    color: #8a8a8a;
}

.history > h4 + p{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.history:last-child > h4 + p{
    margin-top: 1rem;
    margin-bottom: inherit;
}

@media (max-width: 768px){
    .h2{
        font-size: 1.5rem;
    }

    .h3{
        font-size: 1.5rem;
    }

    .split-title .h2{
        font-size: 3rem;
    }

    .split-title .h4{
        font-size: 2rem;
    }

    .cta-action{
        font-size: 1rem;
    }
    

    .section-resume-bio .text-center{
        text-align: left;
        white-space: normal;
    }

    .container{
        width: auto;
    }

    .gallery{
        flex-direction: column;
    }

    .spacing{
        padding: 3rem 1.5rem;
    }

    .spacing-x{
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .picture-overlay img{
        min-height: 200px;
    }

    .picture-overlay .overlay{
        display: none;
    }

    .section-bio-iron-man .spacing{
        padding: 0;
        padding: 0 0.5rem;
    }

    .split-content > .description{
        padding: 0 1rem;
    }

    .split-content > .description > ul{
        margin-bottom: 0;
    }

    .split-title > .items-container{
        margin: 0 auto;
    }

    .description ul{
        padding: 0 0 2.5rem 1.2rem;
    }

    .title-section{
        padding-top: 0;
    }

    .section.section-hero{
        min-height: 100vh;
    }

    .section-hero .title{
        bottom: -1rem;
    }

    .section-hero figure {
        position: relative;
        min-height: 100vh;
    }

    .section-hero .title span:first-child{
        font-size: 2.5rem;
    }

    .section-hero .title span:nth-child(2) {
        font-size: 3rem;
        line-height: 2.1rem;
        margin-top: 1rem;
    }

    .section-hero .title{
        left: 1rem;
    }

    .section-hero .title span:last-child {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .section-bio-iron-man{
        padding-top: 5rem;
        padding-bottom: 0;
    }

    .section-explore > .container-grid{
        padding-bottom: 0;
        padding-top: 0;
        display: block;
        position: relative;
    }

    .section-explore > .container-grid + .container{
        padding-bottom: 5rem;
    }

    .section-explore .img-overlap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .img-overlap figure {
        display: block;
        flex-grow: 1;
    }

    .img-overlap figure:first-child{
        display: block;
    }

    .img-overlap figure:first-child .bg-img{
        min-height: 300px;
    }

    .img-overlap figure:last-child .bg-img{
        min-height: 300px;
    }

    /*.gallery .overlay{
        background: none;
    }*/

    .history > h4.border-bottom{
        line-height: 1.5rem;
    }
}

@media (max-width: 468px){
    .section-explore .img-overlap{
        display: block;
        position: relative;
    }
    
    .img-overlap figure:last-child{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 998px){
    .split-content{
        display: grid;
        align-items: center;
        grid-template-areas: "c-text c-img";
        grid-template-columns: repeat(2, 1fr);
    }

    .split-content > figure{
        grid-area: c-img;
        min-height: 60vh;
        padding: 1em 2em;
        display: block;	
    }

    .overlay-diagonal{
        opacity: .4;
        display: block;
    }

    .img-overlap figure:first-child .bg-img{
        background-position: right;
    }

    .section-hero .title{
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        z-index: 1;
    }

    .section-hero .title span:last-child{
        padding-bottom: 0;
    }

    .picture-overlay .overlay{
        display: block;
    }

    .gallery .picture-overlay:first-of-type .overlay{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .gallery .picture-overlay:last-of-type .overlay{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

p{
    line-height: inherit;
}

body{
    line-height: 2rem;
}

